.main-wrapper{
	background: url('../img/banner0.jpg');
	background-attachment: fixed;
}

header{
	background:rgba(0,0,0,0.2);
}
nav{
	background: transparent;
}
h2{
	font-size: 24px;
	letter-spacing: 1px;
}

p{
	font-size: 18px;
	font-weight: lighter;
}
nav .music_change a {
	float: right;
    margin-right: 40px;
    margin-top: 40px;
    width: 80px;
    height: 40px;
    padding-top: 13px;
    display: inline-block;
    border-radius: 6px;
    font: 14px/28px 'Microsoft Yahei';
    transition: background-color .5s ease;
    color: #fff;
    border: #ccc 1px solid;
    text-align: center;
    text-decoration: none;
}

nav .music_change a:hover {
    background: #ccc;
    color: #fff
}


#banner{
	height: 700px;
}


/*nav .logo a{
	color: white;
	text-decoration: none;
	float: left;
	margin-left: 50px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 10px;
}*/

#banner .inner{
	/*max-width: 300px;*/
	text-align: center;
	margin: 0 auto;
	position: relative;/* rearch */
	top: 100px;
	color: #000;
}
#banner .inner h2{
	margin: 0;
	letter-spacing: 1px;
	padding-top: 18px;
	padding-left: 170px;
	font-weight: normal;
	color: white;

}


/*#banner .inner .more{
	margin-top: 280px;
	color: white;

}*/

.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}

.green-section{
	min-height: 460px;
	text-align: center;
	background: #2b9464;
	color: white;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 120px;
	padding-bottom: 120px;
}

.green-section .hr
{
	width: 80%;
	height: 1.5px;
	margin: 40px auto;
	background: white;
}

/*.green-section .icon-group .icon{
	display: inline-block;
	width: 60px;
	height: 60px;
	background: rgba(0,0,0,0.5);
	transform: rotate(45deg);
	margin: 30px;
	margin-top: 40px;
}*/

.green-section h2{
	font-size: 32px;
}
.green-section p {
	line-height: 36px;
	font-size: 20px;
}
.gray-section .img-section{
	width: 35%;
}

.img-section img{
	width: 100%;
}

.gray-section{
	background: #252F34;
	color: #fff;
}
.gray-section .text-section{
	width: 65%;

}
.gray-section p {
	line-height: 36px;
	font-size: 18px;
	font-weight: lighter;
}

.article-preview > div{
	float: left;
	font-size: 0;
}

.article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.05);
}

.article-preview:after{
	content: '';
	display: block;
	clear: both;
}

.text-section{
	position: relative;
	top: 68px;

}

.text-section h2{
	margin-left: 50px;
	margin-bottom: 20px;
}
.text-section p{
	margin-left: 50px;
	width: 90%;
}

.purple-section{
	padding:80px;
	background: #3F3965;
	color: white;
	height: 1200px;
}

.purple-section h2{
	text-align: center;
	letter-spacing: 10px;
}

.clear-fix :after{
	content: '';
	display: block;
	clear: both;
}
.purple-section .hr{
	width: 60%;
	background:#373259;
	height: 1.5px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20%;
	text-align: center;
}

.purple-section .sub-heading{
	padding-left: 80px;
	padding-right: 50px;
	letter-spacing: 2px;
	font-weight: lighter;
	line-height: 28px;
}
.card-group{
	padding-top: 60px;
	padding-left: 50px;
	padding-right: 50px;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	box-sizing: border-box;
	
}

.card h3{
	font-size: 24px;
	padding-top: 40px;
	padding-left: 50px;
}

.card p{
	padding-top: 20px;
	padding-left: 50px;
	margin-right: 50px;
	line-height: 24px;
}

.card:nth-child(1){
	background: rgba(0,0,0,0.12);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.20);
}
.card:nth-child(3){
	background: rgba(0,0,0,0.20);
}
.card:nth-child(4){
	background: rgba(0,0,0,0.12);
}
.card:nth-child(5){
	background: rgba(0,0,0,0.12);
}
.card:nth-child(6){
	background: rgba(0,0,0,0.20);
}

footer{
	background: #333;
	color: white;
	min-height: 200px;
	text-align: center;
}
ul{
	margin: 0;
}

ul .share-group{
	
	display: block;
	width: 1080px;
	margin: 0 auto;

}

.share-group li{
	padding-top: 50px;
	padding-right: 45px;
	display: inline-block;
	font-size: 18px;
}

.copyright{
	padding: 40px;
}